<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{css/bootstrap.min.css}" />
<title>Pat</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Container</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" th:href="@{index}">varieté <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"th:href="@{form}">gateau</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu" aria-labelledby="dropdown07">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-md-0" th:action="@{index}" method="get">>
            <input class="form-control" type="text" name="motCle" th:value="${motCle}" placeholder="Search" aria-label="Search" />
            
          </form>
        </div>
      </div>
    </nav>
	<div class="container">
	<div class="card ">
		<div class="card-header">حلويات لحسن مستقل  م
		لقد أكملت النموذج ، شكرًا لك
		</div>
		<div class="card-body">
		<div class="form-group">
		  <label th:text="${sucrerie.id}">ID:</label>
		 </div>
		 <div class="form-group">
		  <label th:text="${sucrerie.nom}">Nom:</label>
		  </div>
		  <div class="form-group">
		  <label th:text="${sucrerie.prix}">Prix:</label>
		  </div>
		  <div class="form-group">
		  <label th:text="${sucrerie.url}">url:</label>
		</div>
             
		</div>
	</div>	
	</div>
</body>>