<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css"
	th:href="@{css/style.css}" />
<title>Pat</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Container</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" th:href="@{index}">varieté <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"th:href="@{form}">gateau</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu" aria-labelledby="dropdown07">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-md-0" th:action="@{index}" method="get">>
            <input class="form-control" type="text" name="motCle" th:value="${motCle}" placeholder="Search" aria-label="Search" />
            
          </form>
        </div>
      </div>
    </nav>
    
	<div class="container">
	<div class="card col-md-6 col-md-ofset-3 col-xm-12 ">
		<div class="card-header"><h3>حلويات لحسن مستقل  ملء الاستمارة</h3></div>
		<div class="card-body">
		  <form th:action="@{save}" 
		   enctype="multipart/form-data"
		   method="post" th:object="${sucrerie}">
		   <div class="form-group">
		   <label class="control-label">Nom</label>
		    <input class="form-control" type="text"  th:field="*{nom}" />
		    <span class="text-danger" th:errors="*{nom}"></span>
		   </div>
		   <div class="form-group">
		   <label class="control-label">Prix</label>
		    <input class="form-control" type="text" th:field="*{prix}" />
		    <span  class="text-danger" th:errors="${sucrerie.prix}"></span>
		   </div>
		   <div class="form-group">
		   <label class="control-label">url</label>
		    <input type="file" class="form-control" name="picture" />
		    <span th:errors="${sucrerie.url}"></span>
		   </div>
		   <div class="form-group">
		   <button class="btn btn-primary" type="submit"> Enregistrer</button>
		   </div>
		  </form>
		</div>
	</div>	
	</div>
</body>
</html>